.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

.vscode/

.DS_Store
Thumbs.db

.kotlin/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/src/main/resources/application.properties